<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="MIV" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ArtikliConnectionString" connectionString="Data Source=KOVA;Initial Catalog=Artikli;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ArtikliConnection" connectionString="Data Source=KOVA;Initial Catalog=Artikli;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="RegistracijaConnection" connectionString="Data Source=KOVA;Initial Catalog=Registracija;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineConnection" connectionString="Data Source=KOVA;Initial Catalog=Registracija;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="RegistracijaConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineConnection1" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="RegistracijaConnString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineConnString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="DrzaveConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ZaposleniciConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="TehnicMaterijalConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="LIMConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="OkruglaŠipConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="CijeviL=3ConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="KvadŠipkeL=3ConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ŠipŠestConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="HidrantConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ŽicVarenjeConnectionString" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Pomocna" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineZaTalionicu" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SirovineJezgra" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="RezDijelovi" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="PomocnaRezDijelovi" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="VanjskeUsluge" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="PomocnaVanUsluge" connectionString="Data Source=KOVA;Initial Catalog=MIV;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
